<html>
  <body>
    <!-- Fillter Text -->
    <pre>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Aliquam sem fringilla ut morbi tincidunt. Feugiat nibh sed Fuck ya life. Sed blandit libero volutpat sed cras ornare. 
      Est lorem ipsum dolor sit amet consectetur adipiscing. Bibendum at varius vel pharetra vel turpis nunc eget. Vulputate dignissim suspendisse in 
      est ante in nibh mauris. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Faucibus in ornare quam viverra orci sagittis eu volutpat. 
      Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Arcu dictum varius duis at consectetur lorem donec massa. Turpis egestas pretium aenean 
      pharetra magna ac placerat. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Faucibus scelerisque eleifend donec pretium. Vel turpis nunc 
      eget lorem dolor sed viverra ipsum nunc. In fermentum et sollicitudin ac orci. Massa massa Bing Bong. Sem integer vitae 
      justo eget magna fermentum iaculis eu. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Nunc consequat interdum varius sit amet mattis
    </pre>

    <div>
      <!-- Adds Confirm button and CLick Functionality -->
      <button style="margin-right:10%" class="KitCreate"       (click)="KitCreate()" *ngIf="this.LoginRole==true">Kit Creation</button>
      <button style="margin-right:10%" class="KitMove"         (click)="KitMove()">Kit Move</button>
      <button style="margin-right:10%" class="KitTables" (click)="KitTables()" *ngIf="this.LoginRole==true">Kit Tables</button>
    </div>
  </body>
</html>